<!-- <div class="box">
  <div class="img fade-in">
    <img class="image" src="../../../assets/images/svg/alaaaldinLogo.svg" alt="">
  </div>
</div> -->
<div class="box">
  <div class="img">
    <img class="image1 fade-in2" src="../../../assets/images/svg/glob.png" alt="">
    <img class="image2 fade-in2" src="../../../assets/images/svg/left.png" alt="">
    <img class="image3 fade-in2" src="../../../assets/images/svg/right.png" alt="">
    <img class="image4 fade-in" src="../../../assets/images/svg/topsea.png" alt="">
    <img class="image5 fade-in" src="../../../assets/images/svg/sea.png" alt="">
    <img class="image6 fade-in2" src="../../../assets/images/svg/title.png" alt="">
  </div>
</div>
