<!-- <div class="log">
  <section   #loginForm>
    <mat-card>
      <div class="img_container fade-in">
        <img class="img" src="../../../../../assets/images/svg/alaaaldinLogo.svg" alt="">
      </div>
      <h1>Login</h1>
      <form #f="ngForm"  (ngSubmit)="submit(f)">
        <div> 
          <mat-form-field  appearance="outline">
            <mat-label>User name</mat-label>
            <input matInput placeholder="Your email" type="email" email required maxlength="255" #emailInput="ngModel" (ngModel)="pModel.username" name="username">
            <mat-error *ngIf="emailInput.hasError('required')">Email cannot be blank!</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid!</mat-error>
          </mat-form-field>
        </div>
    
        <div>
          <mat-form-field  appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Your password" type="password" required minlength="8" maxlength="50" #passwordInput="ngModel" (ngModel)="pModel.password" name="password">
            <mat-error>Should be at least 8 characters long.</mat-error>
          </mat-form-field>
        </div>
    
      <button mat-flat-button [disabled]="f.invalid" color="primary">Login</button>
    </form>
  
    </mat-card>
   
  
  
  </section>
</div> -->


<div class="body">   
  <div class="wide-wrapper">
      <div class="top1">
          <div class="top1Text">
              Shipping & Export from U.S.
          </div>
      </div>
     <div class="topBack">
      <div class="top2">
          <div class="logo">
              <img class="logo-img" src="../../assets/images/svg/al-logo-white.png" alt="">
          </div>
          <div class="login-sec">
           
          </div>
      </div>
     </div>
     <div class="main">
      <div >
        <img class="illust" src="../../../../../assets/images/svg/undraw_secure_files_re_6vdh.svg" alt="">
      </div>
      <form #f="ngForm"  (ngSubmit)="submit(f)">
        <div> 
          <mat-form-field  appearance="outline">
            <mat-label>User name</mat-label>
            <input matInput placeholder="Your email" type="email" email required maxlength="255" #emailInput="ngModel" (ngModel)="pModel.username" name="username">
            <mat-error *ngIf="emailInput.hasError('required')">Email cannot be blank!</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid!</mat-error>
          </mat-form-field>
        </div>
    
        <div>
          <mat-form-field  appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Your password" type="password" required minlength="8" maxlength="50" #passwordInput="ngModel" (ngModel)="pModel.password" name="password">
            <mat-error>Should be at least 8 characters long.</mat-error>
          </mat-form-field>
        </div>
    
      <button mat-flat-button [disabled]="f.invalid" color="primary">Login</button>
    </form>
     </div>
  </div>
  </div>
  